<br />
<div>
    @{
        ViewBag.Title = "Reporte de cuentas bancarias";
    }
</div>
<div class="custom_page_title">Reporte corte de cuentas bancarias</div>
<!-- Form 1 - Búsqueda avnzada
+ Grid -->
<div class="form-font-size-sm">
    <div class="form-left-spacing " id="">
        <div class="margin-top-sm">
            <div class="margin-top-sm">
                <form id="frmAReportCashClosing" name="frmAReportCashClosing" role="form"
                      data-toggle="validator" method="post" class="form-inline bs-component">
                    <div class="row">
                        <div class="form-group margin-right-md">
                            <label class="col-form-label" for="dateReportStart">Fecha Inicio:</label>
                            @*<div class="form-group">
                                    <input class="form-control input-height-xsm padding-no-padding dateReport"
                                           id="dateReportStart" name="dateReportStart" readonly>
                                </div>*@
                            <div class="input-group date" id="appdate1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input datetimeinput dateReport" data-target="#appdate1" id="dateReportStart" name="dateReportStart" />
                                <div class="input-group-append" data-target="#appdate1" data-toggle="datetimepicker" data-link-format="dd/mm/yyyy">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group margin-right-md">
                            <label class="col-form-label" for="dateReportEnd">Fecha Fin:</label>
                            @*<div class="form-group">
                                    <input class="form-control input-height-xsm padding-no-padding dateReport"
                                           id="dateReportEnd" name="dateReportEnd" readonly>
                                </div>*@
                            <div class="input-group date" id="appdate2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input datetimeinput dateReport" data-target="#appdate2" id="dateReportEnd" name="dateReportEnd" />
                                <div class="input-group-append" data-target="#appdate2" data-toggle="datetimepicker" data-link-format="dd/mm/yyyy">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group margin-right-md ">
                            <label class="col-form-label" for="Segment">Segmento:</label>
                            <div class="form-group ">
                                <select class="form-control input-height-xsm padding-no-padding Segment"
                                        id="Segment" name="Segment" placeholder="Seleccione ...">
                                    <!-- <option value="0"> Seleccione ...</option> -->
                                </select>
                            </div>
                        </div>
                        @RenderPage("../common/_DependencyCompanyAccount.cshtml")
                        <div class="form-group margin-right-md ">
                            <button class="btn btn-sm btn-secondary" id="btngenerateReport" name="btngenerateReport">Generar</button>
                        </div>
                    </div>
                </form>
                <!-- FORM TO EXPORT EXCEL -->
                @*using (Html.BeginForm(&quot;ExportToExcel&quot;, &quot;reports&quot;,
                    FormMethod.Post, new { @class = &quot;fromRigth&quot; })) {
                    <input type="hidden"
                           name="nameFile" value="">
                    <input type="hidden" name="gridHtml" value="">
                    <div class="form-group col margin-right-md ">
                        <input type="submit" class="btn btn-success btn-sm" id="btnExportCashClosing"
                               value="Exportar Excel">
                    </div>}*@
                <button class="btn btn-sm btn-success btn-sm fromRigth" id="btnExportCashClosing"
                        name="btnExportCashClosing">
                    Exportar Excel
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<div id="divToExportExcel" class="" >
    <table class="" id="tblfinancialStateAccountTimeLine" name="tblfinancialStateAccountTimeLine"
           style="width:100%; border-color: #2c3e50; border-style: solid;">
        <caption class="tablecaption" style="background-color: #2c3e50; color: #ffffff;">
            [&#xA0;&#xA0; Historial Detallado &#xA0;&#xA0;
            <label id="_lblDate"></label>-
            <label id="_lblBAccount"></label>&#xA0;&#xA0; ] &#xA0; [&#xA0; Saldo anterior: $ &#xA0;
            <label id="_lblBalancebefore"></label>&#xA0;]
        </caption>
        <thead>
            <tr>
                <th style="color: #ffffff !important; background-color: #2c3e50 !important; font-weight: bold !important; padding: 1px 5px 1px 5px !important; width:200px; text-align:center">Fecha</th>
                <th style="color: #ffffff !important; background-color: #2c3e50 !important; font-weight: bold !important; padding: 1px 5px 1px 5px !important;">Descripci&#xF3;n</th>
                <th style="color: #ffffff !important; background-color: #2c3e50 !important; font-weight: bold !important; padding: 1px 5px 1px 5px !important; text-align:center">Cargo</th>
                <th style="color: #ffffff !important; background-color: #2c3e50 !important; font-weight: bold !important; padding: 1px 5px 1px 5px !important; text-align:center">Abono</th>
                <th style="color: #ffffff !important; background-color: #2c3e50 !important; font-weight: bold !important; padding: 1px 5px 1px 5px !important; text-align:center">Saldo</th>
            </tr>
        </thead>
        <tbody style="font-size: 11px;"></tbody>
    </table>
</div>


@section Scripts {
    <script src="~/Scripts/account/commons/urls.js"></script>
    <script src="~/Scripts/utils/datetime/datetime.js"></script>
    <script src="~/Scripts/utils/utils.js"></script>

    <script>
        var frm = $("#frmAReportCashClosing");

        $(document).ready(function () {
            loadDataNotDependency(PrepareRequestGetSegmentsbyUserBankAccount(Components.getsegmentbyuser), null, "frmAReportCashClosing", "Segment", true)

            //loadSegmentsByUserBankAccount(null, "frmAReportCashClosing", "Segment");
            //loadExternalGroupbyUserBankAccount(null, "frmAReportCashClosing", "externalgroup", true);
            //dateTimePickerFrom(".dateReport", null, null);
            loadDateTimeLoad("appdate1")
            loadDateTimeLoad("appdate2")
        });


        $(".Segment").on("change", function (event) {
            loadDataNotDependency(PrepareRequestGetCompaniesbyUserBAccount(Components.getCompaniesbySegmentUser, this.value), null, "frmAReportCashClosing", "Company", null);

            // loadCompaniesBySegmentUserBAccount(null, this.value, 'frmAReportCashClosing', 'Company');
            //loadExternalGroupCompaniesbyUserBankAccount(null, this.value, 'frmAReportCashClosing', 'Company', true);
        });

        $(".CompanyDependecyPayment").on('change', function (e) {

            var form = this.form;
            var child = this.getAttribute("tochild");

            loadDataNotDependency(PrepareRequestGetBankAccountbyCompanyUserBanAccount(this.value, formControl.BankAccountByCompany), null, form.name, child, true);

        });

        $("#btnExportCashClosing").click(function () {
            // tableToExcel('tblfinancialStateAccountTimeLine', 'Reporte_Corte_de_Caja');
            window.open(Reportes.accountsClosingExportExcelConciliation + "?" + frm.serialize());
        });


        $('#btngenerateReport').click(function (e) {
            e.preventDefault();
            $('.xls').remove();
            if ($('#PaymentMethod').val() != 0) {
                $("#_lblDate").text('');
                $("#_lblBAccount").text('');
                $("#_lblDate").append($("#dateReport").val());
                $("#_lblBAccount").append($("#PaymentMethod option:selected").text());

                if ($('.financialstateitem').length != 0) $('.financialstateitem').remove();
                getReporData(frm);
                // setTimeout(function () { generateButtonsExport(); }, 3000);
            } else {
                notifyMessageGral("Debe seleccionar una cuenta.", "warn", null, null);
            }
        });

        function generateButtonsExport() {
            $('.xls').remove();
            $('#tblfinancialStateAccountTimeLine').tableExport({
                bootstrap: true,
                formats: ['xlsx'],
                filename: $("#dateReport").val() + "-" + $("#PaymentMethod option:selected").text()
            });
            // });
        };


        function getReporData(frm) {

            $.ajax({
                method: "POST"
                , url: Reportes.accountsClosingReconciliation
                , data: frm.serialize()//{ year: year, month: month }
                , datatype: 'json'
            })
                .done(function (data, textStatus, jqXHR) {
                    $('#_lblBalancebefore').html('');
                    $('#tblfinancialStateAccountTimeLine> tbody:last-child').append("<tr class='financialstateitem'> <td></td> <td></td> <td>Saldo Inicial</td> <td></td> <td style='text-align: right; padding-right: 15px;'>" + data.data.balanceBeforeString + "</td> </tr>");
                    createTr(data.data.financialstateitemlist);
                    $("#_lblBalancebefore").append(data.data.balanceBeforeString);
                    $('#tblfinancialStateAccountTimeLine> tbody:last-child').append("<tr class='financialstateitem'> <td></td> <td></td> <td> <p class='thicker'>Saldo Final </p> </td> <td></td> <td style='text-align: right; padding-right: 15px;'> <p class='thicker'>" + data.data.balanceString + " </p> </td> </tr>");
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    notifyMessageGral(jqXHR.message, "warn", null, null);
                });
        }

        function createTr(datas) {
            var tr = "";
            var endtr = "</tr>"
            var resulttr = "";
            $.each(datas, function (key, value) {

                tr = "<tr class='financialstateitem' id='financialstateitem" + key + "'>";
                if (value.length != 0) {
                    resulttr = (tr + createTd(value) + endtr);
                    $('#tblfinancialStateAccountTimeLine> tbody:last-child').append(resulttr);
                }
            });
        }

        function createTd(data) {
            var result = ""
            if (data.accounttype == 1) { result = "<td style='text-align:center'>" + data.aplicationDateString + " </td> <td>" + data.description + " </td> <td> &nbsp; </td> <td style='text-align: right; padding-right: 15px;'> " + data.appliedAmmountString + "</td>" + "<td style='text-align: right; padding-right: 15px;'>" + data.balanceString + " </td>"; }
            else { result = "<td style='text-align:center'>" + data.aplicationDateString + " </td> <td>" + data.description + " </td> <td style='text-align: right; padding-right: 15px;'>" + data.appliedAmmountString + " </td>" + " <td> &nbsp; </td> <td style='text-align: right; padding-right: 15px;'>" + data.balanceString + " </td>"; }
            return result;
        }

    </script>
}
