<div class="workingSearch form-font-size-sm">
    <div class="">
        <div class="">
            <!--
            <div class="form-group">
                <a href="/documents/documentsaccmain" data-toggle=" " title="Capturar gasto" class="btn btn-default btn-sm form-font-size-sm-a">
                    <span class="glyphicon glyphicon-file ic"></span> Capturar Gasto
                </a>
            </div>
                -->
            <div class="">
                <label data-toggle="collapse" data-target="#formTargetDiv" class="control-label form-font-size-sm">&nbsp; <span class="fa fa-plus-circle " title=""></span> Búsqueda avanzada</label>
            </div>
        </div>
    </div>
    <div class="form-font-size-sm">
        <form id="searchForm" name="searchForm" role="form" data-toggle="validator" method="post" class="form-inline">
            <div class="row col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <div class="form-group margin-top-sm margin-right-md" style="display:none">
                                <label class="control-label" for="id">Id</label>
                                <div class="form-group">
                                    <input class="form-control input-height-xsm input-max-width-xsm padding-no-padding" id="id" name="id" placeholder="Ingrese id..." style="width: 100px;">
                                </div>
                            </div>
                            <div class="form-group margin-top-sm margin-right-md">
                                <label class="control-label" for="id">Número documento:</label>
                                <div class="form-group">
                                    <input class="form-control input-height-xsm input-max-width-xsm padding-no-padding" id="number" name="number" placeholder="Ingrese id..." style="width: 100px;">
                                </div>
                            </div>
                            <div class="form-group margin-top-sm margin-right-md ">
                                <label class="control-label" for="company">Unidad de negocio:</label>
                                <div class="form-group reqs">
                                    <select class="form-control input-height-xsm padding-no-padding Company" id="company" name="company" placeholder="Seleccione ..."> </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-2">
                        <div class=" form-inline">
                            <div class="form-group margin-right-md">
                                <div class="form-group margin-right-sm">
                                    <button type="button" class="btn btn-outline-success btn-sm margin-top-sm" id="btnAdvanceSearch" name="btnAdvanceSearch"><i class="fas fa-search-plus"></i> Buscar   </button>
                                </div>
                                <div class="form-group ">
                                    <!-- <i class=" fas fa-eraser fa-2x "  title="" value="searchForm" data-original-title="Reiniciar búsqueda"></i> -->
                                    <button type="button" class="resetform btn btn-outline-dark btn-sm margin-top-sm" id="btnAdvanceSearch" name="btnAdvanceSearch" data-toggle="tooltip" value="searchForm"> <i class="fas fa-redo-alt"></i> Reiniciar búsqueda  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="collapse" id="formTargetDiv">
                        <div class="container-fluid row col-md-12">
                            <div class="margin-top-sm">
                                <div class="" style="padding: 5px !important;">
                                    <fieldset style="" class="fieldset-custom">
                                        <legend align="left" style="" class="legend-custom">Costo gasto </legend>
                                        <div class="form-group margin-right-md">
                                            <label class="control-label" for="ammountIni">De:</label>
                                            <b>$</b>
                                            <div class="form-group">
                                                <input class="form-control input-height-xsm padding-no-padding" data-toggle=" " title="Aplica para el monto de documento gasto" id="ammountIni" name="ammountIni" type="text" placeholder="0.00">
                                            </div>
                                        </div>
                                        <div class="form-group margin-right-md">
                                            <label class="control-label" for="ammountEnd">hasta:</label>
                                            <b>$</b>
                                            <div class="form-group">
                                                <input class="form-control input-height-xsm padding-no-padding" data-toggle=" " title="Aplica para el monto de documento gasto" id="ammountEnd" name="ammountEnd" type="text" placeholder="0.00">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="margin-top-sm">
                                <div class="" style="padding: 5px !important;">
                                    @RenderPage("../../common/_documentAplicationDateFieldSet.cshtml")
                                </div>
                            </div>
                            <div class="margin-top-sm">
                                <div class="" style="padding: 5px !important;">
                                    @RenderPage("../../common/_documentCreationDateFieldSet.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-top:2.5rem !important">
        <div class="form-font-size-sm">
            <div class="row">
                <div class="col-md-12" style="height: 32.5rem !important; overflow-y: scroll !important; scrollbar-width: none;">
                    <div class="table-responsive-sm" style="/* padding: 0rem 14rem 0rem 5rem !important; */">
                        <!--Table-->
                        <table id="tblIncomes" name="jsGridIncomeItems" class="tblIncomes table tables table-hover table-sm table-condensed table-responsive-sm ">
                            <thead>
                                <tr>
                                    <th style="text-align: center !important;">#</th>
                                    <th style="text-align: center !important;">Unidad de negocio</th>
                                    <th style="text-align: center !important;">Total</th>
                                    <th style="text-align: center !important;">Fecha de captura</th>
                                    <th style="text-align: center !important;">Fecha de aplicaci&oacute;n</th>
                                    <th colspan="2" style="text-align: center;"><i class="fas fa-cog"></i></th>
                                </tr>
                            </thead>
                            <tbody><tr><td colspan="6">No data...</td></tr></tbody>
                        </table>
                        <!--Table-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>