<div class="form-group margin-right-md ">
    <label class="control-label" for="Company">Agencia:</label>
    <div class="form-group reqs">
        <select class="form-control input-height-xsm padding-no-padding CompanyDependecyPayment" id="Company" name="Company" tochild="PaymentMethod" placeholder="Seleccione ..."> </select>
    </div>
</div>

<div class="form-group margin-right-md ">
    <label class="control-label" for="PaymentMethod">Cuenta:</label>
    <div class="form-group reqs">
        <select class="form-control input-height-xsm padding-no-padding PaymentMethod" id="PaymentMethod" name="PaymentMethod" placeholder="Seleccione ..."> </select>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/utils")

    <script>


       

    </script>
}