
<fieldset class="fieldset-custom">
    <legend align="left" style="" class="legend-custom">Fecha de aplicación</legend>
    <div class="card-group">
        <label class="control-label" for="applicationDateIni">
            Inicio:
            <div class="card-group">
                <div class="input-group date" id="appdate1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input datetimeinput" data-target="#appdate1" id="applicationDateIni" name="applicationDateIni" maxlength="10"/>
                    <div class="input-group-append" data-target="#appdate1" data-toggle="datetimepicker" data-link-format="dd/mm/yyyy">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                @*<input class="form-control input-height-xsm padding-no-padding datetimeinput" id="applicationDateIni" name="applicationDateIni" readonly="">*@
            </div>
        </label>
        &nbsp;
        <label class="control-label" for="applicationDateFin">
            Fin:
            <div class="card-group">
                <div class="input-group date" id="appdate2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input datetimeinput" data-target="#appdate2" id="applicationDateFin" name="applicationDateFin" maxlength="10"/>
                    <div class="input-group-append" data-target="#appdate2" data-toggle="datetimepicker" data-link-format="dd/mm/yyyy">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <!--<input class="form-control input-height-xsm padding-no-padding datetimeinput" id="applicationDateFin" name="applicationDateFin" readonly="">-->
            </div>
        </label>
    </div>
</fieldset>