
<fieldset style="" class="fieldset-custom">
    <legend align="left" style="" class="legend-custom">Fecha de captura</legend>
    <div class="card-group">
        <label class="control-label" for="creationDateIni">
            Inicio:
            <div class="card-group">
                <div class="input-group date" id="appdate3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input datetimeinput" data-target="#appdate3" id="creationDateIni" name="creationDateIni" maxlength="10" />
                    <div class="input-group-append" data-target="#appdate3" data-toggle="datetimepicker" data-link-format="dd/mm/yyyy">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                @*<input class="form-control input-height-xsm padding-no-padding datetimeinput" id="creationDateIni" name="creationDateIni" readonly="">*@
            </div>
        </label>
        &nbsp;
        <label class="control-label" for="creationDateFin">
            Fin:
            <div class="card-group">
                <div class="input-group date" id="appdate4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input datetimeinput" data-target="#appdate4" id="creationDateFin" name="creationDateFin" maxlength="10" />
                    <div class="input-group-append" data-target="#appdate4" data-toggle="datetimepicker" data-link-format="dd/mm/yyyy">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                @*<input class="form-control input-height-xsm padding-no-padding datetimeinput" id="creationDateFin" name="creationDateFin" readonly="">*@
            </div>
        </label>
    </div>
</fieldset>