<div>
    <center>
        <table id="gridView" class="tblResponse">
            <thead>
                <tr id="gridhead"></tr>
            </thead>
            <tbody id="gridbody"></tbody>
        </table>
    </center>
</div>

<div id="GridView">
    <div id="tblgridview">
        <div id="gridhead"></div>
        <div id="gridbody"></div>
        <div id="gridfoot"></div>
    </div>
</div>